
html {
font-family: 'Epilogue', sans-serif;
background-image: linear-gradient(to bottom right, #ffbf81ff, #f25f84ff);
background-size: 1920px 1080px;
}

h1 {
  font-size: 80px;
  color: #55286F;
  text-align: center;
}

h3 {
  text-align: center;
  font-family: 'Epilogue:wght@500', sans-serif;
  font-size: 30px;
  color: white; 
  }


body {
  width: 800px;
  background-color: #ead1dcff;
  padding: 10px 10px 10px 10px;
  border: 10px solid #ead1dcff;
  margin: auto;
  position: relative;
  top: 270px;
}

#bodyExercise {
  height: 450px;
  width: 800px;
  background-color: #ead1dcff;
  padding: 10px 10px 10px 10px;
  border: 10px solid #ead1dcff;
  margin: auto;
  position: relative;
  top: 200px;

}

#beginCheckup {
  font-family: 'Epilogue', sans-serif;
  font-size: 30px;
  border-radius: 12px;
  text-align:center;
  background-color:#55286F;
  color: white; 
  cursor: pointer;
  margin: auto;
  position: relative;
  top:-40px;
  left: 220px;
}

#beginExercise {
  font-family: 'Epilogue', sans-serif;
  font-size: 20px;
  border-radius: 12px;
  text-align:center;
  background-color:#55286F;
  color: white; 
  cursor: pointer;
  margin: auto;
  position: absolute;
  left: 330px;
  top: 400px;
}

body {
  box-shadow: 7px 7px 10px gray;
}


#countdown {
  background-color:#55286F;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  font-size: 50px;
  height: 70px;
  width: 200px;
}

#smallText {
  font-family:cursive;
  font-size: 16px;
  text-align:center;
  color:black; 
  position: relative;
  top: -40px;
}

#breathingCircle{
  height:100px;
  width: 100px;
  margin: auto;
  background-color:lightblue;
  border-radius: 50%;
}

@keyframes circleAnimation{
0% {background-color:lightblue;height:80px;width:80px;}
40%{background-color:bisque;height:150px;width:150px;}
60% {background-color:bisque;height:150px;width:150px;}
100%{background-color:lightblue;height:80px;width:80px;}
}

#timerBar{
  height:50px;
  width: 600px;
  margin: auto;
  background-color:aliceblue;
}
#timerBarFill{
  height:50px;
  width:0px;
  left:100px;
  top: -50px;
  position: relative;
  background-color:lightpink;
}

@keyframes barAnimation{
0%{width:0px;}
100%{width:600px;}
}

#question{
  color: black;
}

#recommend{
  color: black;
}

#highscore_text{
  font-family: 'Epilogue:wght@500', sans-serif;
  font-size: 30px;
  color: black;
  top:500px;
  left:300px;
}

#lowscore_text{
  font-family: 'Epilogue:wght@500', sans-serif;
  font-size: 30px;
  color: black;
  top:500px;
  right:300px;
}

#score{
  font-family: 'Epilogue:wght@500', sans-serif;
  font-size: 50px;
  color: black;
  top:500px;
  margin: auto;
}

.checkup_buttons{
  background-color: #55286F;
  font-family: 'Epilogue', sans-serif;
  color: white;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 10px 40px;
  cursor: pointer;
  border-radius: 50%;
  transition-duration: 0.5s;
}


.button1{
  width: 45px;
  height: 45px;
  border: none;
  color:white;
  background-color:#55286F;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0 #210b2c;
  transition: ease 0.2s;
}

.button1:hover {
  box-shadow: inset 45px 0 0 0 #210b2c;
}

.button2{
  width: 45px;
  height: 45px;
  border: none;
  color:white;
  background-color:#55286F;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0 #210b2c;
  transition: ease 0.2s;
}

.button2:hover {
  box-shadow: inset 45px 0 0 0 #210b2c;
}

.button3{
  width: 45px;
  height: 45px;
  border: none;
  color:white;
  background-color:#55286F;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0 #210b2c;
  transition: ease 0.2s;
}

.button3:hover {
  box-shadow: inset 45px 0 0 0 #210b2c;
}

.button4{
  width: 45px;
  height: 45px;
  border: none;
  color:white;
  background-color:#55286F;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0 #210b2c;
  transition: ease 0.2s;
}

.button4:hover {
  box-shadow: inset 45px 0 0 0 #210b2c;
}

.button5{
  width: 45px;
  height: 45px;
  border: none;
  color:white;
  background-color:#55286F;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0 #210b2c;
  transition: ease 0.2s;
}

.button5:hover {
  box-shadow: inset 45px 0 0 0 #210b2c;
}
